@import url('https://rsms.me/inter/inter.css');

html {
  height: 100%;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  position: relative;
  margin: 0;
  min-height: 100%;
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
  -o-animation: fadein 3s;
  background-color: #292725;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-tp {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::-moz-selection {
  color: #292725;
  background: #00ffdf;
}

::selection {
  color: #292725;
  background: #00ffdf;
}

.section {
  display: table;
  width: 100%;
  height: 100%;
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}

.mr-20 {
  margin-right: 20px;
}

canvas {
  display: block;
}

h1 {
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-weight: 500;
}

h2{
  font-family: 'Inter', sans-serif;
  margin: 1em 0 .5em !important;
  font-weight: 500;
  color: #ffffff;
  font-size: 1.5em;
  // background: -webkit-linear-gradient(top, #00c6ff, #0072ff);
  // background-clip: text;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}

h4{
  margin-top: 20px !important;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
  color: white;
}

h6 {
  font-family: 'Inter', sans-serif;
  color: #ccc;
  margin: 1.6em 0 2em !important;
}

p,
ul,
li {
  color:rgba(255,255,255, 0.7);
}

p.float-left {
  color:rgba(255,255,255, 0.7);
}

small {
  color:rgba(255,255,255, 0.7);
}

blockquote {
  border-left: 2px solid #00ffdf;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #00ffdf;
}

li:before {
  content: "• ";
  color: #00ffdf;
}

a {
  text-decoration: none !important;
  transition-timing-function: linear !important;
  transition-duration: .15s !important;
}

.link_text {
  color: #00ffdf;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -400px 0;
  }
}

@keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -400px 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {

  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {

  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 1300px) {
  .img_slide {
    height: 280px;
  }
}

/* LINK EFFECT */
.link_element {
  transform: none;
}
.link_element {
  transform: translateY(-93%);
  transition: transform .75s ease-out;
}

.link_a {
  vertical-align: baseline;
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 0;
  height: auto;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: .18s;
}

.link_text {
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.link_text:after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
  height: 2px;
  background: #FFF;
  transform: scaleX(0);
  transition: transform .25s ease-in;
  transform-origin: right center;
}

.link_a:focus, .link_a:hover {
  outline: none;
}

.link_text:hover:after {
  transform: scale(1);
  transform-origin: left center;
}

.image--cover {
  width: 80px;
  height: 80px;
  //border-radius: 50%;
  //margin: 0px;
  //object-fit: cover;
  //object-position: center center;
  //box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05)
}

img.img-profile {
  width: 100px;
}

/*.img-container {
  background-image: url(https://d33wubrfki0l68.cloudfront.net/e09d4033b3f5a734f9b0056f360f36a37fc80085/83923/img/me_ph.jpg);
  position: fixed;
  width: 100%;
  -webkit-filter: blur(100px);
  -o-filter: blur(100px);
  filter: blur(100px);
  background-size: cover;
  opacity: 0.6;
}*/